# Set C# as the main language
*.cs linguist-language=C#

# Mark HTML files as documentation
*.html linguist-documentation=true

# Mark .csv files as vendored
*.csv linguist-vendored

# Exclude directories with non-code files
**/bin/** linguist-vendored
docs/* linguist-vendored
public/* linguist-vendored
static/* linguist-vendored

# Ensure other file types are classified correctly
*.csproj linguist-language=XML
*.json linguist-language=JSON
*.config linguist-language=XML

# Mark any other large non-code files as vendored
*.pdf linguist-vendored
*.xls linguist-vendored
